<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nume</th>
        <th>Telefon</th>
        <th>Data Nasterii</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${totiUtilizatorii}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.nume}"></td>
        <td th:text="${user.telefon}"></td>
        <td th:text="${#dates.format(user.dataNasterii,'dd/MM/yyyy')}"></td>
        <td><a th:href="@{/update/{id}(id=${user.id})}">Modifica</a></td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}">Sterge</a></td>
    </tr>
    </tbody>
</table>
<a href="user.html">Insert new user</a>

</body>
</html>